.top{
	position: relative;
}
#content{
    background: #f3f3f3;
}
.top-area{
    height: 100px;
    background:#009946 url(../../image/userCenter.png) no-repeat top center;
    padding: 20px 0;
    position: relative;
}
.top-area .head-image{
    margin: 0px auto;
    text-align: center;
    position: absolute;
    left: 20px;
}
.top-area .myinfo{
       color: #fff;
    font-size: 14px;
	margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 90px;
}
#content .top-area .myinfo .yue i{
	font-size: 18px;
	margin-right: 5px;
}
a.account-recharge{
    color: #e57f23;
    padding: 2px 5px;
}
a.account-recharge:hover {
    color: #e57f23 !important;
}
.top-area .head-image img{
	width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 2px;
    border: 1px solid #fff;
}

.grid-tab{
    display: table;
    width: 100%;
    height: 2.24rem;
    height: 22.4vw;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
}
.grid-list{
    display: table-cell;
    width: 33.3333%;
    vertical-align: middle;
    text-align: center;
}
.grid-list:not(:last-child) {
    border-right: 1px solid #ddd;
}
.grid-list .num {
    padding: .453333rem 0 .293333rem;
    padding: 4.533333vw 0 2.933333vw;
    font-size: 6.933333vw;
    line-height: .693333rem;
    line-height: 6.933333vw;
    font-weight: 700;
}
.grid-list .txt {
    font-size: .32rem;
    line-height: .32rem;
    line-height: 3.2vw;
}
.grid-list .my-account,.grid-list .my-point{
    margin-top: .133333rem;
    margin-top: 1.333333vw;
    font-size: .32rem;
    line-height: .373333rem;
    line-height: 3.733333vw;
    font-weight: 500;
    color: #666;
    font-weight: 700;
}

.order-area .all-order{
	padding: 0 10px;
	background: #fff;
}
.order-area .all-order a{
	float: left;
	color: #303030;

}
.order-area .all-order a.left i{
	margin-right: 5px;
}
.order-area .all-order a.right{
	float: right;
	color: #aaaaac;
}
.order-area .quick-btn{
	background: #fff;
    text-align: center;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    margin-bottom: 5px;
}
.order-area .quick-btn a{
	padding: 10px 0;
    display: block;
    float: left;
    width: 25%;
}
.order-area .quick-btn .order-btn{
	border-right: 1px solid #ececec;
	position: relative;
}
.order-area .quick-btn .order-btn-1 i{
	color: #f4ad7f;
}
.order-area .quick-btn .order-btn-2 i{
	color: #71adff;
}
.order-area .quick-btn .order-btn span.goods-num{
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;

}
.order-area .quick-btn .order-btn span.goods-num span{
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	background: #db2b07;
	color: #fff;
}
.order-area .quick-btn .order-btn-3 i{
	color: #00b1be;
}
.order-area .quick-btn .order-btn-4 i{
	color: #ba7fff;
}
.order-area .quick-btn .order-btn-4{
	border-right: none;
}
.order-area a,.cart-area a,.user-area a,.other-area a{
    text-decoration: none;
}
.order-area .quick-btn a{
    color: #aaaaac;
    font-size: 12px;
}
.order-area .all-order a,
.cart-area .all-cart a,
.user-area .user-info a,
.other-area .other-info a
{
    color: #333333;
    display: block;
    padding: 15px 0;
    font-size: 16px;
}
.cart-area .all-cart i{
	color: #71cd00;
}
.user-area .user-info i{
	color: #F4AD7E;
}

#content i{
    font-size: 22px;
}
.cart-area,.user-area,.other-area .other-info{
    border-top: 1px solid #ececec;
}
.user-area{
	padding: 0 10px;
	background:#fff;
}
.user-area .user-info{
	background: url(../../image/user-icon.png) no-repeat right center;
}
.user-area-1{
/* 	margin-bottom: 5px; */
/* 	border-bottom: 1px solid #ececec; */
}
.user-area-5{
	border-bottom: 1px solid #ececec;
}
.user-area-0 .user-info a i{
	color: #71adff;
}
.user-area .user-info a i{
	margin-right: 8px;
}
.user-area-2 .user-info a i{
	color: #C78AFF;
}
.user-area-3 .user-info a i{
	color: #F0C899;
}
#content .admin-area{
	margin-bottom:8px;
}
#content .fen-area{
	margin-bottom:8px;
}
.order-area a i.arrow,.cart-area a i.arrow,.user-area a i.arrow,.other-area a i.arrow{
	float: right;
	color: #bbb;
}
/******余额充值按钮******/
.account-recharge {
    display: inline-block;
    /*background-color: #e57f23;*/
    border-radius: 3px;
    border: 1px solid #e57f23;
    /* width: 38px; */
    color: white;
    text-align: center;
    margin-left: 5px;
    /* left: 72px; */
}
.my-coin{
/* 	float: left; */
/*     margin-left: 20px; */
/*     margin-top: 27px; */
    font-size: 14px;
}
.my-account{
	 color: white;
}
.account-recharge{
	 color: white;
}
.myinfo a:hover{
	 color: white;
}
