<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>评价</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="XXXX">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="XXXX">

    <link rel="stylesheet"  href="../css/iconfont.css">
    <link rel="stylesheet"  href="../css/common.css">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet"  href="../css/estimate.css">
</head>
<body>
    <!--主容器-->
    <div id="container">
        <div id="content">
            <div class="header">
                <a class="header-left" href="javascript:window.history.go(-1);">
                    <i class="icon iconfont">&#xe62a;</i>
                </a>
            </div>
            <div class="content-block">
                <div class="container-fluid">
                    <div class="sales">
                        <img class="img" src="../image/logo.png">
                        <div class="info">
                            <div class="name">美团外卖</div>
                            <div class="time">2月2日19:20 左右送达</div>
                        </div>
                    </div>
                     <div class="zan">
                        <div class="zan-btn-area"><i class="icon iconfont zan-item "></i> 赞</div>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="container-fluid">
                    <div class="seller">
                        <img class="img" src="../image/20170523113702284_thumb.jpg">
                        <div class="info">
                            正新鸡排(华凯广场店)
                        </div>
                    </div>
                    <div class="estimate-block">
                        <div class="star">
                            <i class="icon iconfont star">&#xe641;</i>
                            <i class="icon iconfont star">&#xe641;</i>
                            <i class="icon iconfont star">&#xe641;</i>
                            <i class="icon iconfont star">&#xe641;</i>
                            <i class="icon iconfont star">&#xe641;</i>
                        </div>
                        <div class="textarea">
                            <textarea class="estimate-text" rows="5" placeholder="亲，对菜品口味如何，对包装服务等还满意吗？"></textarea>
                            <p class="least">至少输入8个字</p>
                        </div>
                        <div class="upload-photos">
                            <img src="../image/upload/upload.jpg">
                            <div class="info">
                                <div class="title">上传图片</div>
                                <p>内容丰富的评价有机会成为优质评价噢！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div id="select" class="select">
                    <i class="icon iconfont all-selected" style="display: none;">&#xe698;</i>
                    <i class="icon iconfont not-all-selected">&#xe618;</i>
                    <span>匿名评价</span>
                </div>
            </div>
            <div class="refer-btn">
               提交
            </div>
        </div>
    </div>
<script src="../js/jquery-1.11.0.js"></script>
<script type="text/javascript">
    $('#select').on('click','i', function(){
        var _this = $(this);
        if(_this.hasClass('all-selected')){
            $('.not-all-selected').css({'display': 'inline-block'});
            _this.css({'display': 'none'});
        } else {
            $('.all-selected').css({'display': 'inline-block'});
             _this.css({'display': 'none'});
        }
    });
    $('.zan-btn-area').click(function(){
        $(this).toggleClass('already-zan');
    })
    $('.star').on('click', 'i', function(){
        var _this = $(this);
        if(_this.index() === 0 && _this.hasClass('active')){
            if(!_this.siblings().hasClass('active')){
                 _this.removeClass('active');
            } else {
                _this.siblings().removeClass('active');
            }
        } else {
             _this.addClass('active').prevAll().addClass('active');
            _this.nextAll().removeClass('active');
        }
    })
</script>
