<!--首页-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>私厨外卖—首页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="XXXX">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="XXXX">
    <link rel="stylesheet"  href="../css/iconfont.css">
    <link rel="stylesheet"  href="../css/common.css">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css?v=18465721">

    <link rel="stylesheet"  href="../css/swiper.min.css">
    <link rel="stylesheet"  href="../css/index.css">
</head>

<body>
<!--主容器-->
<div id="container" class="container-fluid">
    <!-- 搜索框 -->
    <div class="search-area" id="search-area">
        <input type="search" class="search-input" placeholder="请输入私厨或私房菜">
        <span class="search-btn"><i class="icon iconfont">&#xe607;</i></span>
    </div>
    <div class="clearbox"></div>
        <!--幻灯片轮播-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="http://cjb.huimaibuy.com/index.php?c=base_user&a=rechargePay&moduleName=">
                    <img src="../image/20170718134433734.jpg">
                </a>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="label-area">
        <a href="./index.php?c=dining&a=shopList&label_id=32" class="label-list">
            <img src="../image/20170313085020652.png" class="label-img" />
            <span class="limit-text label-name">中餐</span>
        </a>
        <a href="./index.php?c=dining&a=shopList&label_id=31" class="label-list">
            <img src="../image/20170313085040919.png" class="label-img" />
            <span class="limit-text label-name">西餐</span>
        </a>
        <a href="./index.php?c=dining&a=shopList&label_id=33" class="label-list">
            <img src="../image/20170313085107379.png" class="label-img" />
            <span class="limit-text label-name">火锅</span>
        </a>
        <a href="./index.php?c=dining&a=shopList&label_id=34" class="label-list">
            <img src="../image/20170313085123193.png" class="label-img" />
            <span class="limit-text label-name">小吃</span>
        </a>
        <a href="./index.php?c=dining&a=shopList&label_id=35" class="label-list">
            <img src="../image/20170313085137159.png" class="label-img" />
            <span class="limit-text label-name">甜品</span>
        </a>
    </div>
    <div class="goods-news">
        <div class="news-image"><img src="../image/news.png"></div>
        <marquee direction="up" truespeed="truespeed" scrollamount=2 height="50px" behavior="scroll" style="text-align: center" >
            <div class="news">恭喜微凉通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜微凉通过小伙伴的分享获得了0.02元饭票红包</div>
            <div class="news">恭喜微凉通过小伙伴的分享获得了0.06元饭票红包</div>
            <div class="news">恭喜微凉通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜微凉通过小伙伴的分享获得了0.03元饭票红包</div>
            <div class="news">恭喜心软是病、通过小伙伴的分享获得了0.01元饭票红包</div>
            <div class="news">恭喜未凝。通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜锦书予你通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜小小通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜王姶。通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜木易亦山通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">恭喜東风通过小伙伴的分享获得了0.04元饭票红包</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">恭喜Tomorrow通过小伙伴的分享获得了0.4元饭票红包</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">恭喜钱东东获得0.01元饭票,</div>
            <div class="news">恭喜陈孟辉通过小伙伴的分享获得了0.64元饭票红包</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">恭喜金豪获得0.01元饭票红包</div>
            <div class="news">恭喜Destiny获得0.08元饭票红包</div>
            <div class="news">恭喜阳光获得0.02元饭票红包</div>
            <div class="news">推广二维码获得饭票1元</div>
            <div class="news">超急邦，一个专送寝室的外卖平台！</div>
        </marquee>
    </div>
    <div class="goods-wrap" data-sender-time="11:20-13:00，17:20-20:30" data-is-plate-time="1">
        <div class="wrap-info">
           <!--  <i class="icon iconfont">&#xe761;</i> -->推荐私厨
        </div>
        <div class="goods-area">
            <!-- 推荐商品 -->
            <!-- "./index.php?c=dining&a=shopInfo&shop_id='+id+'" -->
            <a href="./shopInfo.html?c=dining&a=shopInfo&shop_id=1" class="goods-list">
                <img src="../image/20170523113702284_thumb.jpg" class="goods-img" />
                <div class="goods-name limit-text">周黑鸭</div>
                <div class="goods-address limit-text">口碑：<i class="icon iconfont star">&#xe641;</i><i class="icon iconfont unstar">&#xe642;</i><em style="color:green; padding-left:0px;font-size:16px;">99分</em></div>
                <div class="goods-address limit-text">江西师大二食堂</div>
                <div class="goods-info limit-text">送寝室时间：8:00-12:00,14:00-17:00</div>
                <div class="goods-price">配送费0</div>

                <span class="goods-sale">月售100份</span>
                 <span class="sender-male">男配送员：<span style="color:red;">无</span></span>&nbsp;|&nbsp;<span class="sender-female">女配送员：<span style="color:red;">无</span></span>
                <p><span style="color:green;">该时间段由超急邦配送至寝室</span></p>
                <span class="full-cut-price"><i class="icon iconfont item-full-cut">&#xe878;</i>全场9折</span>
            </a>
            <a href="./shopInfo.html?c=dining&a=shopInfo&shop_id=2" class="goods-list">
                <img src="../image/20170523113702285_thumb.jpg" class="goods-img" />
                <div class="goods-name limit-text">外婆饭</div>
                <div class="goods-address limit-text">口碑：<i class="icon iconfont star">&#xe641;</i><i class="icon iconfont unstar">&#xe642;</i><em style="color:green; padding-left:0px;font-size:16px;">99分</em></div>
                <div class="goods-address limit-text">江西师大二食堂</div>
                <div class="goods-info limit-text">送寝室时间：8:00-12:00,14:00-17:00</div>
                <div class="goods-price">配送费0</div>

                <span class="goods-sale">月售100份</span>
                  <span style="color:#e57f23;">该时间段由商家配送至楼下，可预订送寝室</span>
               <span class="full-cut-price"><i class="icon iconfont item-full-cut">&#xe878;</i>全场8.5折</span>
            </a>
            <a href="./shopInfo.html?c=dining&a=shopInfo&shop_id=3" class="goods-list">
                <img src="../image/20170523113702286_thumb.jpg" class="goods-img" />
                <div class="goods-name limit-text">华莱士</div>
                <div class="goods-address limit-text">口碑：<i class="icon iconfont star">&#xe641;</i><i class="icon iconfont unstar">&#xe642;</i><em style="color:green; padding-left:0px;font-size:16px;">99分</em></div>
                <div class="goods-address limit-text">江西师大二食堂</div>
                <div class="goods-info limit-text">送寝室时间：8:00-12:00,14:00-17:00</div>
                <div class="goods-price">配送费0</div>

                <span class="goods-sale">月售100份</span>
                  <span style="color:#e57f23;">该时间段由商家配送至楼下，可预订送寝室</span>
               <span class="full-cut-price"><i class="icon iconfont item-full-cut">&#xe878;</i>全场8.5折</span>
            </a>
            <a href="./shopInfo.html?c=dining&a=shopInfo&shop_id=4" class="goods-list">
                <img src="../image/20170523113702287_thumb.jpg" class="goods-img" />
                <div class="goods-name limit-text">饭菜真湘</div>
                <div class="goods-address limit-text">口碑：<i class="icon iconfont star">&#xe641;</i><i class="icon iconfont unstar">&#xe642;</i><em style="color:green; padding-left:0px;font-size:16px;">99分</em></div>
                <div class="goods-address limit-text">江西师大二食堂</div>
                <div class="goods-info limit-text">送寝室时间：8:00-12:00,14:00-17:00</div>
                <div class="goods-price">配送费0</div>

                <span class="goods-sale">月售100份</span>
                <span style="color:#e57f23;">该时间段由商家配送至楼下，可预订送寝室</span>
               <span class="full-cut-price"><i class="icon iconfont item-full-cut">&#xe878;</i>全场8.5折</span>
            </a>
            <a href="./shopInfo.html?c=dining&a=shopInfo&shop_id=5" class="goods-list">
                <img src="../image/20170523113702288_thumb.jpg" class="goods-img" />
                <div class="goods-name limit-text">辣味轩麻辣香锅</div>
                <div class="goods-address limit-text">口碑：<i class="icon iconfont star">&#xe641;</i><i class="icon iconfont unstar">&#xe642;</i><em style="color:green; padding-left:0px;font-size:16px;">99分</em></div>
                <div class="goods-address limit-text">江西师大二食堂</div>
                <div class="goods-info limit-text">送寝室时间：8:00-12:00,14:00-17:00</div>
                <div class="goods-price">配送费0</div>

                <span class="goods-sale">月售100份</span>
                 <span class="sender-male">男配送员：<span style="color:green;">有</span></span>&nbsp;|&nbsp;<span class="sender-female">女配送员：<span style="color:green">有</span></span>
                <p><span style="color:green;">该时间段由超急邦配送至寝室</span></p>
                <span class="full-cut-price"><i class="icon iconfont item-discount">&#xe7fe;</i>满200减50</span>
            </a>
            <div id="get-more"></div>
        </div>
    </div>
</div>


<!--客户的底部导航-->
<div id="bottom-nav">
    <a href="./index.html" class="nav-list active">
        <span class="nav-icon"><i class="icon iconfont">&#xe758;</i></span>
        <span class="nav-name">首页</span>
    </a>
    <a href="./shopList.html" class="nav-list ">
        <span class="nav-icon"><i class="icon iconfont">&#xe63a;</i></span>
        <span class="nav-name">私厨</span>
    </a>
    <a href="./userCenter.html" class="nav-list ">
        <span class="nav-icon"><i class="icon iconfont">&#xe626;</i></span>
        <span class="nav-name">我的</span>
    </a>
</div>
<!--提示框-->

<!-- 模态框（Modal） 提示框-->
<div class="modal fade" id="myAlertModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    <i class="icon iconfont">&#xe613;</i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                恭喜你，操作成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">关闭</button>

            </div>
        </div>
    </div>
</div>
<!--弹框的遮罩层-->
<div id="maskDialog"></div>
<!--其他遮罩层 如加载框-->
<div id="otherMaskDialog"></div>
<!-- 加载中操作转圈提示 -->
<div id="loadingDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/loading.gif">
    </div>
</div>

<!--页面即将跳转提示框-->
<div id="skipDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/x-loading.gif">
        <div class="desc-text">页面即将跳转，请稍等...</div>
    </div>
</div>

<!--警告提示框-->
<div id="alertDialog" class="my-alert-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe697;</i>
        </div>
        <div class="title-text">提示</div>
        <div class="desc-text">页面已损坏无法打开</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--错误提示框-->
<div id="errorDialog" class="my-error-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">错误</div>
        <div class="desc-text">加载失败</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--普通的友情提示框-->
<div id="normalDialog" class="my-normal-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">敬请期待</div>
        <div class="desc-text">稍后会联系您</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--操作成功提示框-->
<div id="successDialog" class="my-success-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe698;</i>
        </div>
        <div class="title-text">资料已经提交</div>
        <div class="desc-text">审核将在三个工作日之后</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--危险操作确认提示框-->
<div id="dangerConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe69b;</i>
        </div>
        <div class="title-text">确认删除</div>
        <div class="desc-text">确认删除选中的项目吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确认</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">订单操作</div>
        <div class="desc-text">确认进行当前操作吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>


<!--操作成功后的确认提示框-->
<div id="successConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe696;</i>
        </div>
        <div class="title-text">付款成功</div>
        <div class="desc-text">恭喜您所购商品付款成功</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入验证码确认提示框-->
<div id="codeConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="code-wrap">
            <input type="text" id="verifyCode" placeholder="请输入验证码">
            <img id="verifyCodeImg" src="">
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入退款原因确认提示框-->
<div id="reasonConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
        <div class="code-wrap">
            <input type="text" id="refund-reason" placeholder="请输入退款原因">
            <img id="verifyCodeImg" src="">
        </div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!-- 模态框（Modal） 操作确认提示框-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    确认提示框
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">确认删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm">确认</button>
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<!-- 模态框（Modal）操作持续中转圈提示 -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div style="z-index: 9999;height: 100%;margin: 0 auto;text-align: center;line-height: 600px;">
        <img height="60px" src="../image/loading.gif">
    </div>
</div><!-- /.modal -->

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">交卷提示</div>
        <div class="desc-text">答题完毕，确认现在提交试卷吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div><!--公用js文件-->
<script src="../js/jquery-1.11.0.js"></script>

<script src="../js/page.js"></script>
<script src="../js/common.js"></script>
<script src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

<script type="text/javascript">
    $(window).scroll(function(){
        var scrollTop = $(window).scrollTop();
        if(scrollTop === 0){
            $('#search-area').css({background:'#009946'});
        } else {
            $('#search-area').css({background:'transparent'});
        }
    })
</script>
</body>
</html>