<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>红包玩法</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="XXXX">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="XXXX">

    <link rel="stylesheet"  href="../css/iconfont.css">
    <link rel="stylesheet"  href="../css/common.css">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/userBase.css">

    <link rel="stylesheet"  href="../css/redPacket.css">
</head>

<body>
    <!--主容器-->
    <div id="container" class="container-fluid">
        <!--页面头部-->
        <!--主体内容-->
        <div id="content">
                        <div class="redpacket-area">
                <div class="redpacket-image">
                                        <img src="../image/redpacket-unwin.jpg" alt="" />
                                        <div class="operation">
                        <div data-rid="13" class="receive-btn ">立即领取</div>
                        <div class="share-btn">立即分享</div>
                    </div>
                </div>

            </div>
            <div class="redpacket-list">
                <div class="button-group-list">
                    <div class="packet-list-button list-btn-item active">领取列表</div>
                    <div class="active-list-button list-btn-item">活动规则</div>
                </div>
                <div class="packet-area">
                    <div class="packet-list-area">

                                                啊哦，暂无领取记录，快去领红包吧
                                            </div>
                    <div class="packet-rule-area">
                        规则一：红包自己不能领取，红包只能分享给好友，每人只能领取一次红包
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="guide">
        <div class="guide-content">
            <img src="../image/guide.png" alt="" class="guide-image" />
        </div>
    </div>
    <div class="follow-wechat-number">
        <div class="follow-image-area">
            <div class="follow-info">关注领红包</div>
            <img class="follow-image" src="../image/wechat-qrcode.jpg"/>
            <div class="follow-title">快点识别图中二维码，关注我们吧！</div>
        </div>
    </div>
    <!--提示框-->
<!-- 模态框（Modal） 提示框-->
<div class="modal fade" id="myAlertModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    <i class="icon iconfont">&#xe613;</i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                恭喜你，操作成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<!--弹框的遮罩层-->
<div id="maskDialog"></div>
<!--其他遮罩层 如加载框-->
<div id="otherMaskDialog"></div>
<!-- 加载中操作转圈提示 -->
<div id="loadingDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="./themes/image/loading.gif">
    </div>
</div>

<!--页面即将跳转提示框-->
<div id="skipDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="./themes/image/x-loading.gif">
        <div class="desc-text">页面即将跳转，请稍等...</div>
    </div>
</div>

<!--警告提示框-->
<div id="alertDialog" class="my-alert-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe697;</i>
        </div>
        <div class="title-text">提示</div>
        <div class="desc-text">页面已损坏无法打开</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--错误提示框-->
<div id="errorDialog" class="my-error-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">错误</div>
        <div class="desc-text">加载失败</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--普通的友情提示框-->
<div id="normalDialog" class="my-normal-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">敬请期待</div>
        <div class="desc-text">稍后会联系您</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--操作成功提示框-->
<div id="successDialog" class="my-success-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe698;</i>
        </div>
        <div class="title-text">资料已经提交</div>
        <div class="desc-text">审核将在三个工作日之后</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--危险操作确认提示框-->
<div id="dangerConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe69b;</i>
        </div>
        <div class="title-text">确认删除</div>
        <div class="desc-text">确认删除选中的项目吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确认</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">订单操作</div>
        <div class="desc-text">确认进行当前操作吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>


<!--操作成功后的确认提示框-->
<div id="successConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe696;</i>
        </div>
        <div class="title-text">付款成功</div>
        <div class="desc-text">恭喜您所购商品付款成功</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入验证码确认提示框-->
<div id="codeConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="code-wrap">
            <input type="text" id="verifyCode" placeholder="请输入验证码">
            <img id="verifyCodeImg" src="">
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入退款原因确认提示框-->
<div id="reasonConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
        <div class="code-wrap">
            <input type="text" id="refund-reason" placeholder="请输入退款原因">
            <img id="verifyCodeImg" src="">
        </div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!-- 模态框（Modal） 操作确认提示框-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    确认提示框
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">确认删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm">确认</button>
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<!-- 模态框（Modal）操作持续中转圈提示 -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div style="z-index: 9999;height: 100%;margin: 0 auto;text-align: center;line-height: 600px;">
        <img height="60px" src="./themes/image/loading.gif">
    </div>
</div><!-- /.modal -->

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">交卷提示</div>
        <div class="desc-text">答题完毕，确认现在提交试卷吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>    <!--公用js文件-->
    <script src="../js/jquery-1.11.0.js"></script>
<script src="../js/common.js"></script>
<script src="../js/bootstrap.min.js"></script>
 <script type="text/javascript" src="../js/redPacket.js"></script>
<script type="text/javascript" src="../js/jweixin-1.0.0.js"></script>
<script>
    /*
     **** 微信分享
     */
    wx.config({
        debug: false,
        appId: 'wx7a2584bd028d844c',
        timestamp: '1517964203',
        nonceStr: 'HmJqgLA8E0g04zkW',
        signature: 'd8933920c2520ff6c6123adc4e14c2e4108a85ad',
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','hideMenuItems'
            // 所有要调用的 API 都要加到这个列表中
        ]
    });
    var title = '领取饭票，购美食';
    var link =  'https://cjb.huimaibuy.com/index.php?c=dining&a=redPacket&type=0&rid=13';
    var imgUrl = 'https://cjb.huimaibuy.com/template/front/dining/ma16001/image/redpack-share.jpg';
    var desc = "超级邦饭票新玩法,领取饭票，购美食！";
    wx.ready(function () {
        // 在这里调用 API
        //分享到朋友圈
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                //window.location.href = "https://cjb.huimaibuy.com/index.php?c=activity&a=userShare&openId=";

            },
            cancel: function () {
                // 用户取消分享后执行的回调函数

            }
        });
        //发送给朋友
        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //隐藏的菜单
        wx.hideMenuItems({
            menuList: ["menuItem:copyUrl",
                        //"menuItem:share:appMessage",
                        "menuItem:share:timeline",
                        "menuItem:openWithQQBrowser",
                        "menuItem:openWithSafari",
                        "menuItem:share:qq",
                        "menuItem:favorite",
                        "menuItem:share:weiboApp",
                        "menuItem:share:email",
                        "menuItem:originPage"] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
            /**
             传播类
             发送给朋友: "menuItem:share:appMessage"
             分享到朋友圈: "menuItem:share:timeline"
             分享到QQ: "menuItem:share:qq"
             分享到Weibo: "menuItem:share:weiboApp"
             收藏: "menuItem:favorite"
             分享到FB: "menuItem:share:facebook"
             分享到 QQ 空间/menuItem:share:QZone

             保护类
             编辑标签: "menuItem:editTag"
             删除: "menuItem:delete"
             复制链接: "menuItem:copyUrl"
             原网页: "menuItem:originPage"
             阅读模式: "menuItem:readMode"
             在QQ浏览器中打开: "menuItem:openWithQQBrowser"
             在Safari中打开: "menuItem:openWithSafari"
             邮件: "menuItem:share:email"
             一些特殊公众号: "menuItem:share:brand"**/

        });
    });
</script>


</body>
</html>