<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>商家详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="XXXX">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="XXXX">
    <link rel="stylesheet"  href="../css/iconfont.css">
    <link rel="stylesheet"  href="../css/common.css">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">

    <link rel="stylesheet"  href="../css/shopInfo.css">
</head>

<body>
    <!--主容器-->
    <div id="container" class="container-fluid">
        <div class="top-area">
            <div class="shop-img-area">
                <img class="shop-img" src="../image/20171008134732530.jpg" alt="" class="shop-img" />
            </div>
            <div class="shop-info">真味一家</div>
            <div class="shop-score-area">
                <div class="star-area">口碑评分：
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                            <i class="icon iconfont star">&#xe641;</i>
                                                        </div>
                                <div class="star-desc star-7">孤独求败</div>
                            </div>
            <div class="left_money">
                <i class="icon iconfont">&#xe6f5;</i> 店铺状态 <span class="text-success">在线中</span>            </div>
            <div class="send-time">配送时间：11:20-13:00，17:20-20:30</div>
                    </div>
        <div class="dining-wrap" >
            <div class="banner-tap">
                <div class="item choose-goods cur">选购菜品</div>
                <div class="item shop-detail">店铺详情</div>
            </div>
            <div class="goods-list-area current" >
                <div class="cate-area row">
                    <div class="fir-cate">
                        <span class="cate-list fir limit-text active" data-id="0">全部菜品</span>
                    </div>
                                        <div class="fir-cate">
                        <span class="cate-list fir limit-text" data-id="612">餐盒</span>
                                            </div>
                                        <div class="fir-cate">
                        <span class="cate-list fir limit-text" data-id="549">特色盖浇饭</span>
                                            </div>
                                        <div class="fir-cate">
                        <span class="cate-list fir limit-text" data-id="550">特色炒菜（含米饭）</span>
                                            </div>
                                        <div class="fir-cate">
                        <span class="cate-list fir limit-text" data-id="551">特色炒饭</span>
                                            </div>
                                        <div class="fir-cate">
                        <span class="cate-list fir limit-text" data-id="552">特色炒面</span>
                                            </div>
                                    </div>
                <div class="dining-area">
                    <div class="dining-list">
                        <a href="./index.php?c=dining&a=goodsDetail&gid='+id+'&shop_id='+shop_id+'">
                            <img src="../image/20170523113702284_thumb.jpg" class="dining-img"/>
                            <div class="dining-name limit-text">辣椒炒肉</div>
                            <div class="dining-info">
                                <span class="dining-price">
                                <i class="icon iconfont">&#xe604;</i>12</span>/份
                            </div>
                            <div class="dining-info sale-quantity">售出22份</div>
                        </a>
                        <div class="dining-btn">
                            <span class="minus" data-id="'+id+'"><i class="icon iconfont">&#xe6d0;</i></span><span class="goods-num" data-id="'+id+'">100</span><span class="add" data-id="'+id+'"><i class="icon iconfont">&#xe6ce;</i></span>
                        </div>
                    </div>
                    <div class="dining-list">
                        <a href="./index.php?c=dining&a=goodsDetail&gid='+id+'&shop_id='+shop_id+'">
                            <img src="../image/20170523113702284_thumb.jpg" class="dining-img"/>
                            <div class="dining-name limit-text">木耳炒肉</div>
                            <div class="dining-info">
                                <span class="dining-price">
                                <i class="icon iconfont">&#xe604;</i>15</span>/份
                            </div>
                            <div class="dining-info sale-quantity">售出25份</div>
                        </a>
                        <div class="dining-btn">
                            <span class="minus hidden" data-id="'+id+'"><i class="icon iconfont">&#xe6d0;</i></span><span class="goods-num hidden" data-id="'+id+'">0</span><span class="add" data-id="'+id+'"><i class="icon iconfont">&#xe6ce;</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-list-area">
                <div class="user-area user-area-0">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe659;</i>13905659454
                        </a>
                    </div>
                </div>

                <div class="user-area user-area-0">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe653;</i>二食堂三楼
                        </a>
                    </div>
                </div>

                <div class="user-area user-area-0" hidden="hidden">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe632;</i>00:47-21:00
                        </a>
                    </div>
                </div>

                <div class="user-area user-area-0">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe625;</i>真味一家
                        </a>
                    </div>
                </div>
                                <div class="user-area user-area-0" hidden="hidden">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe62f;</i>起送价0元
                        </a>
                    </div>
                </div>

                <div class="user-area user-area-0" hidden="hidden">
                    <div class="user-info">
                        <a>
                            <i class="icon iconfont">&#xe7ba;</i>配送距离为真味一家公里
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="bottomNav cf">
            <a>总计：<i class="icon iconfont">&#xe604;</i><span class="cart-total-price">0</span></a>
            <a class="payment able" data-price="0"><i class="icon iconfont">&#xe6ca;</i>去付款</a>
        </div>
        <!--购物车-->
        <div class="cart-wrap">
    <div class="img">
        <i class="icon iconfont">&#xe6c4;</i>
    </div>
    <div class="num">0</div>
</div>

<!--首页购物车列表-->
<div class="cartList-wrap" style="display: none;">
    <div class="cart-area">
        <div class="cart-content">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <td class="col-1"><span class="clear-cart" data-id="0"><i class="icon iconfont">&#xe615;</i>清空购物车</span></td>
                        <td class="col-2"></td>
                        <td class="col-3 shut-off"><i class="icon iconfont">&#xe613;</i></td>
                    </tr>
                </thead>
                <tbody class="cart-goods-list">
                                        <tr class="no-content"><td colspan="3"><i class="icon iconfont">&#xe78c;</i>不好意思！您的购物车空空~~哦！</td></tr>
                                    </tbody>
            </table>
        </div>
    </div>
</div>    </div>

    <!--提示框-->
    <!-- 模态框（Modal） 提示框-->
<div class="modal fade" id="myAlertModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    <i class="icon iconfont">&#xe613;</i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                恭喜你，操作成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<!--弹框的遮罩层-->
<div id="maskDialog"></div>
<!--其他遮罩层 如加载框-->
<div id="otherMaskDialog"></div>
<!-- 加载中操作转圈提示 -->
<div id="loadingDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/loading.gif">
    </div>
</div>

<!--页面即将跳转提示框-->
<div id="skipDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/x-loading.gif">
        <div class="desc-text">页面即将跳转，请稍等...</div>
    </div>
</div>

<!--警告提示框-->
<div id="alertDialog" class="my-alert-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe697;</i>
        </div>
        <div class="title-text">提示</div>
        <div class="desc-text">页面已损坏无法打开</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--错误提示框-->
<div id="errorDialog" class="my-error-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">错误</div>
        <div class="desc-text">加载失败</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--普通的友情提示框-->
<div id="normalDialog" class="my-normal-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">敬请期待</div>
        <div class="desc-text">稍后会联系您</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--操作成功提示框-->
<div id="successDialog" class="my-success-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe698;</i>
        </div>
        <div class="title-text">资料已经提交</div>
        <div class="desc-text">审核将在三个工作日之后</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--危险操作确认提示框-->
<div id="dangerConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe69b;</i>
        </div>
        <div class="title-text">确认删除</div>
        <div class="desc-text">确认删除选中的项目吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确认</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">订单操作</div>
        <div class="desc-text">确认进行当前操作吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>


<!--操作成功后的确认提示框-->
<div id="successConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe696;</i>
        </div>
        <div class="title-text">付款成功</div>
        <div class="desc-text">恭喜您所购商品付款成功</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入验证码确认提示框-->
<div id="codeConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="code-wrap">
            <input type="text" id="verifyCode" placeholder="请输入验证码">
            <img id="verifyCodeImg" src="">
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入退款原因确认提示框-->
<div id="reasonConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
        <div class="code-wrap">
            <input type="text" id="refund-reason" placeholder="请输入退款原因">
            <img id="verifyCodeImg" src="">
        </div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!-- 模态框（Modal） 操作确认提示框-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    确认提示框
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">确认删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm">确认</button>
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<!-- 模态框（Modal）操作持续中转圈提示 -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div style="z-index: 9999;height: 100%;margin: 0 auto;text-align: center;line-height: 600px;">
        <img height="60px" src="../image/loading.gif">
    </div>
</div><!-- /.modal -->

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">交卷提示</div>
        <div class="desc-text">答题完毕，确认现在提交试卷吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>    <!--公用js文件-->
    <script src="../js/jquery-1.11.0.js"></script>

<script src="../js/page.js"></script>
<script src="../js/common.js"></script>
    <script type="text/javascript" src="../js/shopInfo.js"></script>
</body>
</html>