<!-- 我的 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>我的</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="XXXX">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="XXXX">

    <link rel="stylesheet"  href="../css/iconfont.css">
    <link rel="stylesheet"  href="../css/common.css">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">

    <link rel="stylesheet"  href="../css/userCenter.css">
</head>

<body>
    <!--主容器-->
    <div id="container" >

        <!--主体内容-->
        <div id="content">
            <div class="top-area clearfix">
                <div class="head-image"><img src="http://wx.qlogo.cn/mmopen/u2hicLTTQDgb1xvekwpDvGz8l4Z3lemetEl0aJ1J3R0sd9kR699aNPZ7fg78Hj8hl6E8ficxZ4SWbc1tDoRSXOjWnIMSrK2Qow/132"></div>
                <div class="myinfo" style="height:40px;">
                    <div>哎呦喂</div>
                    <!-- <a class="my-account">余额：<span class="account-num">10.00元</span>
                        <a class="account-recharge" href="./pay.html">充值优惠</a>
                    </a>
                    <a class="account-recharge" style="display: none;" href="./index.php?c=dining&a=withdrawMoney">立即提现</a>
                    </a> -->

                </div>
            </div>
            <div class="grid-tab">
                <a href="./myAccount.html" class="grid-list">
                    <p>
                        <span class="num" style="color: rgb(255, 95, 62);">10.00</span>
                        <span class="txt" style="color: rgb(255, 95, 62);">元</span>
                    </p>
                    <p class="my-account">余额</p>
                </a>
                <a href="./myJifen.html" class="grid-list">
                    <p>
                        <span class="num" style="color: rgb(106, 194, 11);">0</span>
                        <span class="txt" style="color: rgb(106, 194, 11);">个</span>
                    </p>
                    <p class="my-point">积分</p>
                </a>
            </div>
            <!--订单功能区-->
            <!-- <div class="order-area">
                <div class="cf all-order clearfix" style="display: none;">
                    <a href="javascript:;" class="left">
                        <i class="icon iconfont">&#xe644;</i><span>美食订单</span>
                    </a>
                    <a href="./index.php?c=dining&a=orderList" class="right">
                        <span>查看全部订单</span><i class="icon iconfont">&#xe654;</i>
                    </a>
                </div>
               <div class="quick-btn cf">
                    <a class="order-btn order-btn-1" href="./index.php?c=dining&a=orderList&state=0">
                        <p class="num"><i class="icon iconfont">&#xe68e;</i></p>
                        <p class="btn-text">待付款</p>
                        <span class="goods-num"><span>0</span></span>
                    </a>
                    <a class="order-btn order-btn-2" href="./index.php?c=dining&a=orderList&state=3">
                        <p class="num"><i class="icon iconfont">&#xe7c9;</i></p>
                        <p class="btn-text">已接单</p>
                        <span class="goods-num"><span>0</span></span>
                    </a>
                    <a class="order-btn order-btn-3" href="./index.php?c=dining&a=orderList&state=4">
                        <p class="num"><i class="icon iconfont">&#xe7cc;</i></p>
                        <p class="btn-text">送餐中</p>
                        <span class="goods-num"><span>0</span></span>
                    </a>
                    <a class="order-btn order-btn-4" href="./index.php?c=dining&a=orderList&state=5">
                        <p class="num"><i class="icon iconfont">&#xe694;</i></p>
                        <p class="btn-text">已完成</p>
                        <span class="goods-num"><span>0</span></span>
                    </a>
                    </div>
            </div> -->


             <!-- 我的订单 -->
            <div class="user-area user-area-2">
                <div class="user-info">
                     <a href="./orderList.html">
                        <i class="icon iconfont">&#xe675;</i>订单管理<i class="icon iconfont arrow">&#xe654;</i>
                    </a>
                </div>
            </div>


            <!--优惠券是否启用-->

            <!--会员卡是否启用-->



            <!--地址管理-->
            <div class="user-area user-area-2">
                <div class="user-info">
                    <a href="./addressList.html">
                        <i class="icon iconfont">&#xe61a;</i>地址管理<i class="icon iconfont arrow">&#xe654;</i>
                    </a>
                </div>
            </div>
            <!--积分提现-->
<!--
            <div class="user-area user-area-2">
                <div class="user-info">
                     <a href="./myJifen.html">
                        <i class="icon iconfont icon-jifen"></i>我的积分<i class="icon iconfont arrow">&#xe654;</i>
                    </a>
                </div>
            </div> -->
            <!--推广页面-->
            <div class="user-area user-area-2">
                <div class="user-info">
                    <a href="./promotionPage.html">
                        <i class="icon iconfont">&#xe6f7;</i>我要分享，吃霸王餐咯<i class="icon iconfont arrow">&#xe654;</i>
                    </a>
                </div>
            </div>
            <!--外卖员入口-->
            <div class="user-area user-area-2" style="display: none;">
                <div class="user-info">
                    <a href="./index.php?c=sender&a=login">
                        <i class="icon iconfont">&#xe6f7;</i>我要送餐<i class="icon iconfont arrow">&#xe654;</i>
                    </a>
                </div>
            </div>


            <!--客服电话-->
            <div class="user-area user-area-1">
                <div class="user-info">
                    <a href="tel:13063216193">
                        <i class="icon iconfont">&#xe65d;</i>客服电话  13063216193
                    </a>
                </div>
            </div>
                        <!--外卖员投诉电话-->
            <div class="user-area user-area-0" style="display: none;">
                <div class="user-info">
                    <a href="tel:15650670862">
                        <i class="icon iconfont">&#xe67f;</i>外卖员投诉电话   15650670862
                    </a>
                </div>
            </div>

        </div>


    </div>
    <!--客户的底部导航-->
<div id="bottom-nav">
    <a href="./index.html" class="nav-list ">
        <span class="nav-icon"><i class="icon iconfont">&#xe758;</i></span>
        <span class="nav-name">首页</span>
    </a>
    <a href="./shopList.html" class="nav-list ">
        <span class="nav-icon"><i class="icon iconfont">&#xe63a;</i></span>
        <span class="nav-name">私厨</span>
    </a>
    <a href="./userCenter.html" class="nav-list active">
        <span class="nav-icon"><i class="icon iconfont">&#xe626;</i></span>
        <span class="nav-name">我的</span>
    </a>
</div>
    <!--提示框-->
    <!--弹框的遮罩层-->
<div id="maskDialog"></div>
<!--其他遮罩层 如加载框-->
<div id="otherMaskDialog"></div>
<!-- 加载中操作转圈提示 -->
<div id="loadingDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/loading.gif">
    </div>
</div>

<!--页面即将跳转提示框-->
<div id="skipDialog" class="my-dialog">
    <div class="my-dialog-body">
        <img src="../image/x-loading.gif">
        <div class="desc-text">页面即将跳转，请稍等...</div>
    </div>
</div>

<!--警告提示框-->
<div id="alertDialog" class="my-alert-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe697;</i>
        </div>
        <div class="title-text">提示</div>
        <div class="desc-text">页面已损坏无法打开</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--错误提示框-->
<div id="errorDialog" class="my-error-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">错误</div>
        <div class="desc-text">加载失败</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--普通的友情提示框-->
<div id="normalDialog" class="my-normal-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">敬请期待</div>
        <div class="desc-text">稍后会联系您</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--操作成功提示框-->
<div id="successDialog" class="my-success-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe698;</i>
        </div>
        <div class="title-text">资料已经提交</div>
        <div class="desc-text">审核将在三个工作日之后</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-cancel-oper" href="javascript:;">知道了</a>
    </div>
</div>

<!--危险操作确认提示框-->
<div id="dangerConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe69b;</i>
        </div>
        <div class="title-text">确认删除</div>
        <div class="desc-text">确认删除选中的项目吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确认</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--正常的友情确认提示框-->
<div id="normalConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text">订单操作</div>
        <div class="desc-text">确认进行当前操作吗？</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>


<!--操作成功后的确认提示框-->
<div id="successConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe696;</i>
        </div>
        <div class="title-text">付款成功</div>
        <div class="desc-text">恭喜您所购商品付款成功</div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入验证码确认提示框-->
<div id="codeConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="code-wrap">
            <input type="text" id="verifyCode" placeholder="请输入验证码">
            <img id="verifyCodeImg" src="">
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!--输入退款原因确认提示框-->
<div id="reasonConfirmDialog" class="my-confirm-dialog my-dialog">
    <div class="my-dialog-header">
        <i class="icon iconfont icon-close">&#xe614;</i>
    </div>
    <div class="my-dialog-body">
        <div class="title-icon">
            <i class="icon iconfont">&#xe699;</i>
        </div>
        <div class="title-text"></div>
        <div class="desc-text"></div>
        <div class="code-wrap">
            <input type="text" id="refund-reason" placeholder="请输入退款原因">
            <img id="verifyCodeImg" src="">
        </div>
    </div>
    <div class="my-dialog-footer">
        <a class="btn-confirm-oper btn-left" href="javascript:;">确定</a>
        <a class="btn-cancel-oper btn-right" href="javascript:;">取消</a>
    </div>
</div>

<!-- 模态框（Modal） 操作确认提示框-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    确认提示框
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">确认删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm">确认</button>
                <button type="button" class="btn btn-default close-action" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->    <!--公用js文件-->
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/common.js"></script>
  <!--   <script type="text/javascript" src="./template/front/common/common.js"></script> -->
    <script type="text/javascript" src="../js/userCenter.js"></script>

</body>
</html>